body {
  background: linear-gradient(0.25turn, red, white, blue);
  border: thick black 2mm;
}

.quantity input[type=number] {
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* how to add the $ to the table */ 
.price::before,
.cost::before,
#grandTotal::before {
  content: "$ ";
}
